* {
    margin: 0;
    padding: 0;
    font-family:"Inter", sans-serif;
    box-sizing: border-box; /* calcul la taille (hauteur et largeur) d'un element en incluant les padding et les border dans le calcul */
}

a {
    text-decoration: none;
    color: black;
    
}

li {    
    list-style: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.spaceAround {
    justify-content: space-around;
}

.spaceEvenly {
    justify-content: space-evenly;
}

.center {
    justify-content: center;
}

.alignCenter {
    align-items: center;
}

.alignBetween {
    align-content:space-between
}

.columnReverse
{
    flex-direction: column-reverse;
}

.flexEnd {
    justify-content: flex-end;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.vh70 {
    height: 70vh;
}

.w50 {
    width: 50%;
}

.w40 {
    width: 40%;
}



/* HEADER */

header {
     background-color: #031A47;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
}

header a {
    color: #FAB943;
}

.navHeader {
    /* background-color: blueviolet; */
    width: 50%;
}

.logo {
    width: 75px;
    height: auto;
}



/* HERO */

.hero {
    height: 100vh;
}

.hero p {
    width: 75%;
}

.hero img {
    width: 300px;
    height: 300px;
}

.bgHero {
    background: rgb(0,130,60);
background: linear-gradient(256deg, rgba(0,130,60,1) 22%, rgba(1,61,35,1) 50%);
}


/* SECTION PROMESSE CLIENT */

.gap {
    gap: 80px;
}

/* SECTION MENU */

.sectionMenu img{
    width: 200px;
    height: 200px;
}

.sectionMenu h2 {
 padding: 30px 0 50px 0;
}

.sectionMenu h3 {
    padding-bottom: 30px;
}

.menu {
    padding: 50px;
}

/* SECTION EVENT/AVIS */


/* coté services */ 
.servicesBox {
    width: 50%;
    /*background-color: red;*/
    padding: 100px 0;
    gap: 15px;
    position: relative;
}

.servicesBox div {
    width: 80%;
    margin: auto;
    z-index: 2;  
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(20px);

}

/* Cote avis client */ 
.avisBox {
    width: 50%;
    background-color: #709868;
    align-items: center;
    padding: 0 20px;
}


.sliderContainer{ /* la boite qui définit ce qui est "visible" */
    width: 100%;
    overflow-x: scroll;
}

.sliderBox { /* la boite contenant les avis */
    width: max-content;
    display: flex;
    gap: 15px;
}

.sliderBox div { /* chaque avis */ 
    width: 220px;
    backdrop-filter: blur(20px);
    background-color:#ffffffab ;
    padding: 20px;
    border-radius: 20px;
}


.bgImg {
    width: 300px;
    position: absolute;
    left: -20px; 
}




/* SECTION A PROPOS */

.aPropos h2 {
    padding-bottom: 30px;
}

.aPropos img {
    width: 200px;
    height: 200px;
}